
.contenedor  {
   
   

}
.divpadre  {
  

     
}
.divhijo {
  
    
}

 h1 {
    text-align: center;
  width: 600px;
  padding: 10px;
  margin-left: 300px ;
}
.text1 {
  text-align: center;
  width: 600px;
  padding: 10px;
  margin-left: 300px ;
}

.text2 {
  
    height: 100px;
    width: 600px;
    padding: 20px;
  margin-left: 300px ;
    text-align: center;
    background-color: yellow;

 }

.divpadre1 {

    height:50px;
    width:500px;
    margin:2px auto;
}

.divhijo1 {
    height:60px;
    width:400px;
    
}
li {
    margin-top: 10px ;
}
.Footerr {

    height: 1000px;
}


